[submodule "web/site"]
	path = web/site
	url = https://github.com/otymko/OneScript.WebSite.git

[submodule "web/site-dev"]
    path = web/site-dev
    url = https://github.com/otymko/OneScript.WebSite.git
	branch = develop