version: '3'
services:
  nginx:
    build: web/nginx
    image: nginx-simple
    links:
      - "jenkins"
    #  - "opm_database"
    ports:
      - "80"
    volumes:
      - web_content:/var/www/
    depends_on:
      - opm_hub
      - site
      - site-dev
      - nginx-web
    environment:
      - VIRTUAL_HOST=oscript.io
      - LETSENCRYPT_HOST=oscript.io
  
  site:
    build: web/site
    image: site_osweb
    ports:
      - "5000"
    environment:
      - OS_CONTENT_DIRECTORY=/app/content
      - OS_DOWNLOAD_DIRECTORY
    volumes:
      - web_content:/var/www/
    depends_on:
      - opm_hub

  site-dev:
    build: web/site-dev
    image: site_osweb:dev
    ports:
      - "5000"
    environment:
      - OS_CONTENT_DIRECTORY=/app/content
      - OS_DOWNLOAD_DIRECTORY
    volumes:
      - web_content:/var/www/
    depends_on:
      - opm_hub

  opm_hub:
    image: evilbeaver/os-hub:4
    ports:
      - "5000"
    environment:
      - OSHUB_BINARY_ROOT=/var/www/hub.oscript.io
      - GITHUB_AUTH_TOKEN
    volumes:
      - web_content:/var/www/
    restart: always
  jenkins:
    build: jenkins
    image: osjenkins
    ports:
      - "8080"
      - "50000:50000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_home:/var/jenkins_home
      - web_content:/var/www

  nginx-web:
    image: nginx
    labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: nginx-web
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - nginx-gen
      - nginx-letsencrypt
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      - .//vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - ./certs:/etc/nginx/certs:ro
      - ./htpasswd:/etc/nginx/htpasswd:ro

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup ${NGINX_WEB:-nginx-web} -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: nginx-gen
    restart: always
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - ./certs:/etc/nginx/certs:ro
      - ./htpasswd:/etc/nginx/htpasswd:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro

  nginx-letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: nginx-letsencrypt
    restart: always
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - ./certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_DOCKER_GEN_CONTAINER: nginx-gen
      NGINX_PROXY_CONTAINER: nginx-web

volumes:
  web_content:
  jenkins_home:
