<configuration>
    <system.web>
        <httpHandlers>
            <add verb="*" path="*.os" type="OneScript.ASPNETHandler.ASPNETHandler" />
        </httpHandlers>
        <customErrors mode="Off"/>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="OneScript" verb="*" path="*.os" type="OneScript.ASPNETHandler.ASPNETHandler" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="CachingEnabled" value="false"/>
        <add key="configFilePath" value="/var/xsp/bin/oscript.cfg"/>
    </appSettings>
</configuration>