<configuration>
    <system.web>
        <authentication mode="None" />
        <httpHandlers>
            <add verb="*" path="*.os" type="OneScript.ASPNETHandler.ASPNETHandler" />
        </httpHandlers>
        <customErrors mode="Off"/>
        <httpRuntime maxRequestLength="52428800"/>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="OneScript" verb="*" path="*.os" type="OneScript.ASPNETHandler.ASPNETHandler" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="CachingEnabled" value="false"/>
        <add key="configFilePath" value="/var/xsp/bin/oscript.cfg"/>
        <add key="handlerLoadingPolicy" value="strict"/>
        <add key="enableEcho" value="true"/>
    </appSettings>
</configuration>
